/*
                                                           
                                                           
        CCCCCCCCCCCCC   SSSSSSSSSSSSSSS    SSSSSSSSSSSSSSS 
     CCC::::::::::::C SS:::::::::::::::S SS:::::::::::::::S
   CC:::::::::::::::CS:::::SSSSSS::::::SS:::::SSSSSS::::::S
  C:::::CCCCCCCC::::CS:::::S     SSSSSSSS:::::S     SSSSSSS
 C:::::C       CCCCCCS:::::S            S:::::S            
C:::::C              S:::::S            S:::::S            
C:::::C               S::::SSSS          S::::SSSS         
C:::::C                SS::::::SSSSS      SS::::::SSSSS    
C:::::C                  SSS::::::::SS      SSS::::::::SS  
C:::::C                     SSSSSS::::S        SSSSSS::::S 
C:::::C                          S:::::S            S:::::S
 C:::::C       CCCCCC            S:::::S            S:::::S
  C:::::CCCCCCCC::::CSSSSSSS     S:::::SSSSSSSS     S:::::S
   CC:::::::::::::::CS::::::SSSSSS:::::SS::::::SSSSSS:::::S
     CCC::::::::::::CS:::::::::::::::SS S:::::::::::::::SS 
        CCCCCCCCCCCCC SSSSSSSSSSSSSSS    SSSSSSSSSSSSSSS   
                                                           
        
*/

/*
 __      __             _____    _____      __    __      __  ______   _____    _____ 
 \ \    / /     /\     |  __ \  |_   _|    /_/    \ \    / / |  ____| |_   _|  / ____|
  \ \  / /     /  \    | |__) |   | |      / \     \ \  / /  | |__      | |   | (___  
   \ \/ /     / /\ \   |  _  /    | |     / _ \     \ \/ /   |  __|     | |    \___ \ 
    \  /     / ____ \  | | \ \   _| |_   / ___ \     \  /    | |____   _| |_   ____) |
     \/     /_/    \_\ |_|  \_\ |_____| /_/   \_\     \/     |______| |_____| |_____/ 
                                                                                                                                                                            
*/

:root{
    /* cores */
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --secondary-color: crimson;

    /* espaçamentos */
    --gap: 3rem;
    --spacing-xsmall: 1rem;
    --spacing-small: 2rem;
    --spacing-medium: 3rem;
    --spacing-large: 5rem;
   
    /* tamanhos */
    --container-width: 120rem;

    /* fontes */
    --font-bold: 700;
    --font-xxlarge: 10rem;
    --font-xlarge: 8rem;
    --font-large: 6rem;
    --font-medium: 4rem;
    --font-normal: 2.3rem;
    --font-small: 1.8rem;
    --font-xsmall: 1.6rem;
    --font-xxsmall: 1.4rem;
}

/*
  _____    ______    _____   ______   _______ 
 |  __ \  |  ____|  / ____| |  ____| |__   __|
 | |__) | | |__    | (___   | |__       | |   
 |  _  /  |  __|    \___ \  |  __|      | |   
 | | \ \  | |____   ____) | | |____     | |   
 |_|  \_\ |______| |_____/  |______|    |_|   
                                              
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.5;
}

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: var(--font-large);
}

h2 {
    font-size: var(--font-large);
    margin-bottom: var(--spacing-large);
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: var(--font-medium);
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

/*
   _____   _                    _____    _____   ______    _____ 
  / ____| | |          /\      / ____|  / ____| |  ____|  / ____|
 | |      | |         /  \    | (___   | (___   | |__    | (___  
 | |      | |        / /\ \    \___ \   \___ \  |  __|    \___ \ 
 | |____  | |____   / ____ \   ____) |  ____) | | |____   ____) |
  \_____| |______| /_/    \_\ |_____/  |_____/  |______| |_____/ 
                                                                                                                                
*/

.main-bg {
    background-image: url('../assets/img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

/*

  __  __   ______   _   _   _    _ 
 |  \/  | |  ____| | \ | | | |  | |
 | \  / | | |__    |  \| | | |  | |
 | |\/| | |  __|   | . ` | | |  | |
 | |  | | | |____  | |\  | | |__| |
 |_|  |_| |______| |_| \_|  \____/ 
                                   
                                   
*/

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid var(--light-gray-color)
}

.menu {
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    position: relative;
    display: block;
    padding: var(--spacing-small);
    font-size: var(--font-small);
    color: var(--primary-color);
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-space {
    height: 6.5rem;
}

/*
  _    _    ____    __  __   ______             _____    ____    _   _   _______   ______   _   _   _______ 
 | |  | |  / __ \  |  \/  | |  ____|           / ____|  / __ \  | \ | | |__   __| |  ____| | \ | | |__   __|
 | |__| | | |  | | | \  / | | |__     ______  | |      | |  | | |  \| |    | |    | |__    |  \| |    | |   
 |  __  | | |  | | | |\/| | |  __|   |______| | |      | |  | | | . ` |    | |    |  __|   | . ` |    | |   
 | |  | | | |__| | | |  | | | |____           | |____  | |__| | | |\  |    | |    | |____  | |\  |    | |   
 |_|  |_|  \____/  |_|  |_| |______|           \_____|  \____/  |_| \_|    |_|    |______| |_| \_|    |_|   
                                                                                                                                                                                                                                                                                                                                                                                                                               
*/

.home-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 100vh;
    gap: var(--gap);
    position: relative;
    top: -6.5rem;
}

.home-content-text, .home-content-image  {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-content-image img {
    max-width: 100%;
    height: auto;
}

/* 
_______    ____    _____    ____              _____    ____    _   _   _______   ______   _   _   _______ 
|__   __|  / __ \  |  __ \  |___ \            / ____|  / __ \  | \ | | |__   __| |  ____| | \ | | |__   __|
   | |    | |  | | | |__) |   __) |  ______  | |      | |  | | |  \| |    | |    | |__    |  \| |    | |   
   | |    | |  | | |  ___/   |__ <  |______| | |      | |  | | | . ` |    | |    |  __|   | . ` |    | |   
   | |    | |__| | | |       ___) |          | |____  | |__| | | |\  |    | |    | |____  | |\  |    | |   
   |_|     \____/  |_|      |____/            \_____|  \____/  |_| \_|    |_|    |______| |_| \_|    |_|   
                                                                                                                                                                                                                       
*/

.top3-content {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center;
    max-width: 64rem;
    text-align: center;
}

.top3-content h2 {
    margin: 0 0 var(--spacing-large);
}

.top3-content p {
    margin: 0 0 var(--spacing-medium);
}
